body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-zerodha {
  background-color: #387ed1;
  color: #fff;
  font-weight: 600;
  font-size: large;
  border-radius: 4px;
  padding: 10px 0px;
}

.btn-zerodha:hover {
  background-color: #000000;
  color: #fff;
}

.navbar-nav{
  margin-left: 750px;
}
